<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Excel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.css}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h2 class="font-weight-bold">Import Excel file</h2>
    <br/>
    <form class="md-form" th:method="post" th:enctype="multipart/form-data" th:action="@{/sheetsgenerator}">
        <input type="file" class="form-control" id="file" name="file" th:field="*{file}">
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/><br/>
</div>
</body>
</html>