<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Key Field</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.css}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <style>
        button {
            padding: 20px 50px;
        }
        a {
            padding: 20px 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${keyfield}" th:action="@{/keyfields}" th:method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{targetExtract}">
        <input type="hidden" th:field="*{datatype}">
        <input type="hidden" th:field="*{scdType}">
        <input type="hidden" th:field="*{generalRuleApplied}">
        <input type="hidden" th:field="*{reasonAdded}">
        <input type="hidden" th:field="*{input}">
        <div class="form-group row">
            <label class="font-weight-bold">Column Name:</label>
            <input class="form-control" type="text" th:field="*{columnName}" readonly>
        </div>
        <div class="form-group row">
            <label class="font-weight-bold">Joined Table:</label>
            <input type="text" class="form-control" th:field="*{joinedTable}"/>
            <p th:if="${#fields.hasErrors('joinedTable')}" th:errors="*{joinedTable}"></p>
        </div>
        <div class="form-group row">
            <label class="font-weight-bold">Primary Key of Joined Table:</label>
            <input type="text" class="form-control" th:field="*{primaryKeyOfJoinedTable}"/>
            <p th:if="${#fields.hasErrors('primaryKeyOfJoinedTable')}" th:errors="*{primaryKeyOfJoinedTable}"></p>
        </div>
        <div class="row">
            <button type="submit" style="margin:5px;" class="btn btn-dark btn-lg">Update Joined Table Name</button>
            <a href="/keyfields" style="margin:5px;" class="btn btn-dark btn-lg" role="button" aria-pressed="true">Cancel</a>
            <a href="/" style="margin:5px;" class="btn btn-dark btn-lg" role="button" aria-pressed="true">Back to start</a>
        </div>
        <br/>
    </form>
</div>
</body>
</html>