<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Script Generator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.css}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <style>
        div {
            white-space: pre-wrap;
        }
        textarea {
            width: 1400px;
            height: 800px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>DDL Script</h1>
    <textarea th:text="${ddlscript}"></textarea>
    <h1>DML Script</h1>
    <textarea th:text="${dmlscript}"></textarea>
    <a href="/addinput" class="btn btn-dark btn-lg" style="margin:5px;" role="button" aria-pressed="true">Back to start</a>
</div>
<br/><br/>
</body>
</html>